body {
    margin: 0%;
    background-color: black;
}


header, nav, footer {
    height: 10vh;
    width: 100%;
    border-radius: 3px;
}


.header {
   /** background-color: #0892a5;
    background-image: linear-gradient(90deg, #3d2645 0%, #0892a5 50%, #832161 75%);**/
    /*background-color: #3d2645;*/
    text-align: center;
    color: #dce0d9;
    padding-top: 30px;
    font-family: 'Lexend Mega', sans-serif;
    
}


.nav {
    background-color: black;
    border-bottom: 2px solid #0892a5;
    border-top: 2px solid #0892a5;
    position: sticky;
    top: 0px;
    z-index: 3;
    
}

nav > a {
    text-decoration: none;
    color: #dce0d9;
    display: inline-block;
    padding: 8px;
    margin: 10px;
    border: 1px solid #0892a5;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    background-color: #3d2645;
}

nav img {
    display: inline-block;
    max-width: 15%;
    height: 10vh;
    float: right;
    border-radius: 3px;

}


.footer  {
    background-color: black;
    border-top: 2px solid #0892a5;
    color: #dce0d9;
    
}



.section {
    width: 25%;
    height: 57vh;
    margin: 136px;
    background-color: #3d2645;
    display: inline-block;
    box-sizing: border-box;
    color: #dce0d9;
    /**position: relative;**/
       
}



.space {
    background-color: black;
    width: 100%;
    height: 25vh;
    display: inline-block;

}

.space > p {
    color: #dce0d9;
    font-family: 'Lexend Mega', sans-serif;
    font-size: large;
    text-align: center;
    padding: 20px;
}

.article {
    width: 40%; 
    height: 30vh; 
    margin: 88px;
    background-color: #0892a5;
    border-radius: 5px;
    display: inline-block;
    
}

.article > p {
    padding: 10%;
    color: #dce0d9;
    font-family: 'Roboto', sans-serif;
}



/**.picbac {
    width: 35%;
    height: 58vh;
    background-color: #832161;
    border-radius: 3px;
    display: inline-block;
    float: left;
    padding-top: 30px;

}**/


.mpage img {
width: 30%;
height: 55vh;
display: inline-block;
float: left;
padding-top: 30px;
border-radius: 3px;
position: relative;
z-index: -1;
margin: 5%;

}



.footer img {
    display: inline;
    max-width: 15%;
    height: 10vh;
    float: left;
    padding-left: 2%;

}


 .flip-card {
    width: 25%;
    height: 57vh;
    margin: 136px;
    background-color: transparent;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    color: #dce0d9;
    
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 5px;
  }

  .flip-card-front {
    background-color: #3d2645;
    color: #dce0d9;
    border-radius: 5px;
    font-family: 'Lexend Mega', sans-serif;

  }

  
  .flip-card-back {
    background-color: #0892a5;
    color: #dce0d9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 4%;
    transform: rotateY(180deg);
    border-radius: 5px;
  }


/** THIS IS A PINK COLOR THAT WAS IN THE NAV
 YOU REALLY LIKED IT. #832161;**/

  /**.flip-card > p {
     font-family: 'Roboto' sans-serif;
     color: #dce0d9;
 }

/**.audio {
    padding: 10%;
    display: inline-block;
}**/
