


.container {
    padding: 20px;
    border-radius: 5px;
    background-color: #0892a5;
    width: 25%;
    margin-top: 20%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20%;
}

 